::-webkit-scrollbar {
  width: 1.5em;
}
/**its the entire scrollbar itself*/
::-webkit-scrollbar-track {
  background: #ad987a;
  border-radius: 100vw;
  margin-block: 0.5em;
  z-index: 9099;
}

/*is the part that you see that shows you where you are on the page*/
::-webkit-scrollbar-thumb {
  background: #ffddae;
  border-radius: 100vw;
  border: 0.25em solid #ad987a;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: #0a2e33 #15616d;
    scrollbar-width: auto;
  }
}

.about {
  background-size: 400%;
  background-image: linear-gradient(
    45deg,
    hsl(35deg 100% 89%) 0%,
    hsl(35deg 100% 88%) 14%,
    hsl(35deg 100% 87%) 24%,
    hsl(35deg 100% 86%) 33%,
    hsl(35deg 100% 85%) 42%,
    hsl(35deg 100% 85%) 51%,
    hsl(35deg 100% 84%) 59%,
    hsl(35deg 99% 83%) 68%,
    hsl(35deg 99% 83%) 77%,
    hsl(35deg 98% 82%) 88%,
    hsl(35deg 98% 82%) 100%
  );

  animation: gradientAnimation 8s ease-in-out infinite;
}
.qoutes-container {
  background-color: #dbbd91;
}

.qoutes {
  color: #042740;
}

._description_ {
  line-height: 1.3rem;
  letter-spacing: 1.2px;
}
.top-to-btm {
  position: relative;
}

.icon-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}

.icon-style {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #042740;
  color: #fff;
  cursor: pointer;
  display: grid;
  place-items: center;
  animation: move_the_btn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}

.arrow_down {
  animation: MoveUpAndDown 3s linear infinite;
}

@keyframes move_the_btn {
  0%,
  100% {
    transform: translateY(-35px);
  }

  50% {
    transform: translateY(30px);
  }
}

@keyframes MoveUpAndDown {
  0%,
  100% {
    transform: translateY(-50px);
  }

  50% {
    transform: translateY(50px);
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@media screen and (min-width: 365px) {
  .image1 {
    width: min(600px, 100%);
    object-fit: cover;
  }
}

@media screen and(min-width:768px) {
  .svg-container {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .description {
    display: none;
  }
}

/*targets only devices that can hover */
@media (hover: hover) {
  .letra {
    cursor: pointer;
    display: inline-block;
    margin: 0.25rem;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.334);
  }

  .letra:hover {
    transform: scale(1.4);
  }
}
