.image {
  max-width: 100%;
  width: 550px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.contact {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: grid;
  place-items: center;
}

/*my video take either all of the available width or height and then the width and hieght will scale with the aspect ratio to take up the enitre with or height */
.contact video {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 640px) {
  .box2 {
    display: none;
  }
}
