.footer__container {
  width: 100%;
  height: 5svh;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid white;
  background: #634721;
}

.copyright_text {
  font-size: 18px;
  color: white;
  font-weight: 400;
}
