::-webkit-scrollbar {
  width: 1.5em;
}
/**its the entire scrollbar itself*/
::-webkit-scrollbar-track {
  background: #ad987a;
  border-radius: 100vw;
  margin-block: 0.5em;
  z-index: 9099;
}

/*is the part that you see that shows you where you are on the page*/
::-webkit-scrollbar-thumb {
  background: #ffddae;
  border-radius: 100vw;
  border: 0.25em solid #ad987a;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: #0a2e33 #15616d;
    scrollbar-width: auto;
  }
}

.header {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.gallery {
  background-size: 400%;
  background-image: linear-gradient(
    45deg,
    hsl(35deg 100% 89%) 0%,
    hsl(35deg 100% 88%) 14%,
    hsl(35deg 100% 87%) 24%,
    hsl(35deg 100% 86%) 33%,
    hsl(35deg 100% 85%) 42%,
    hsl(35deg 100% 85%) 51%,
    hsl(35deg 100% 84%) 59%,
    hsl(35deg 99% 83%) 68%,
    hsl(35deg 99% 83%) 77%,
    hsl(35deg 98% 82%) 88%,
    hsl(35deg 98% 82%) 100%
  );

  animation: gradientAnimation 8s ease-in-out infinite;
}

.top-to-btm {
  position: relative;
}

.icon-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}

.icon-style {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #042740;
  color: #fff;
  cursor: pointer;
  display: grid;
  place-items: center;
  animation: move_the_btn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
