.link_text {
  transition: all 200ms ease-in-out;
}

.nav-icon-5 {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.nav-icon-5 :is(span) {
  /* background-color: #042740; */
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
  transition-duration: 500ms;
}

.nav-icon-5 span:nth-child(1) {
  top: 0px;
  left: 0px;
}
.nav-icon-5 span:nth-child(2) {
  top: 13px;
  left: 0px;
  opacity: 1;
}
.nav-icon-5 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}
.nav-icon-5:not(.open):hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1);
}
.nav-icon-5.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}
.nav-icon-5.open span:nth-child(2) {
  opacity: 0;
}
.nav-icon-5.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}

@media screen and (min-width: 768px) {
  .nav-menu {
    position: absolute;
    top: -700px;
    left: -2000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu {
    position: initial;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar > .nav-menu {
    display: none;
  }
  .nav-menu {
    width: 100% !important;
    height: 500px;
    position: fixed;
    right: 0;
    top: 5rem;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
  }
  .nav-menu.active {
    pointer-events: all;
    cursor: pointer;
  }
  ul.nav-menu.active {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    -moz-transition: 0.35s linear;
    -webkit-transition: 0.35s linear;
    -o-transition: 0.35s linear;
    transition: 0.35s linear;
  }

  .nav-item {
    margin: 3em 0;
  }

  .nav-item:nth-child(5) {
    margin-top: 1em;
  }
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  width: 60px;
  border-radius: 50px;
  padding: 0.5em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5b8680;
  position: relative;
}

.checkbox-label .ball {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 5px;
  left: 4px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
