@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Faustina", serif;
  background-size: 400%;
  background-image: linear-gradient(
    45deg,
    hsl(35deg 100% 89%) 0%,
    hsl(35deg 100% 88%) 14%,
    hsl(35deg 100% 87%) 24%,
    hsl(35deg 100% 86%) 33%,
    hsl(35deg 100% 85%) 42%,
    hsl(35deg 100% 85%) 51%,
    hsl(35deg 100% 84%) 59%,
    hsl(35deg 99% 83%) 68%,
    hsl(35deg 99% 83%) 77%,
    hsl(35deg 98% 82%) 88%,
    hsl(35deg 98% 82%) 100%
  );

  animation: gradientAnimation 8s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
